//インポート
@import "formation";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// tailwindの設定を追加
@tailwind base;
@tailwind components;
@tailwind utilities;

// メディアクエリの設定
$breakpoints: (
    'sm':'screen and (max-width: 414px)',
    'md':'screen and (max-width: 768px)',
    'lg':'screen and (max-width: 1000px)',
    'xl':'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.container{

    // Sidebar
    .sidebar{
        border-right: solid 1px #dee2e6;
        ul{
            margin-top: 30px;
            padding: 10px 5px;
            li{
                margin: 20px 0;
            }
        }
    }
    @include mq(sm) {

    }
    @include mq(md) {

    }
    @include mq(lg) {

    }
    @include mq(xl) {

    }

    // Input-area
    .input-area{
        border-right: solid 1px #dee2e6;
        padding: 0;
    }
}
#app .container{
    max-width: 3000px!important;
    padding: 0!important;
    margin: 0!important;
    .create-area{
        padding: 0!important;
    }
}

#app .container .preview-img{
    width: 600px;
    height: 800px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: url("/images/soccer-court.jpeg");
    background-size: contain;
}
#app .container .preview-img .member{
    width: 70px;
}
#app .container .preview-img .circle{
    margin: 0 auto;
}


