#app .container .preview-img.one {
    .member11{
        top:20%;
        left:30%;
    }
    .member10{
        top:20%;
        right:30%;
    }
    .member9{
        top:40%;
        left:10%;
    }
    .member8{
        top:40%;
        left:30%;
    }
    .member7{
        top:40%;
        right:30%;
    }
    .member6{
        top:40%;
        right:10%;
    }
    .member5{
        top:60%;
        left:10%;
    }
    .member4{
        top:60%;
        left:30%;
    }
    .member3{
        top:60%;
        right:30%;
    }
    .member2{
        top:60%;
        right:10%;
    }
    .member1{
        top:80%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
//4-2-3-1
#app .container .preview-img.two {
    .member11{
        top:20%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member10{
        top:35%;
        left:10%;
    }
    .member9{
        top:35%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member8{
        top:35%;
        right:10%;
    }
    .member7{
        top:45%;
        left:30%;
    }
    .member6{
        top:45%;
        right:30%;
    }
    .member5{
        top:60%;
        left:10%;
    }
    .member4{
        top:60%;
        left:30%;
    }
    .member3{
        top:60%;
        right:30%;
    }
    .member2{
        top:60%;
        right:10%;
    }
    .member1{
        top:80%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
//4-1-4-1
#app .container .preview-img.three {
    .member11{
        top:20%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member10{
        top:35%;
        left:10%;
    }
    .member9{
        top:35%;
        left:30%;
    }
    .member8{
        top:35%;
        right:30%;
    }
    .member7{
        top:35%;
        right:10%;
    }
    .member6{
        top:45%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member5{
        top:60%;
        left:10%;
    }
    .member4{
        top:60%;
        left:30%;
    }
    .member3{
        top:60%;
        right:30%;
    }
    .member2{
        top:60%;
        right:10%;
    }
    .member1{
        top:80%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
//4-1-2-3
#app .container .preview-img.four {
    .member11{
        top:20%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member10{
        top:25%;
        left:15%;
    }
    .member9{
        top:25%;
        right:15%;
    }
    .member8{
        top:35%;
        left:30%;
    }
    .member7{
        top:35%;
        right:30%;
    }
    .member6{
        top:50%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member5{
        top:60%;
        left:10%;
    }
    .member4{
        top:60%;
        left:30%;
    }
    .member3{
        top:60%;
        right:30%;
    }
    .member2{
        top:60%;
        right:10%;
    }
    .member1{
        top:80%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
//4-2-1-3
#app .container .preview-img.five {
    .member11{
        top:20%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member10{
        top:25%;
        left:15%;
    }
    .member9{
        top:25%;
        right:15%;
    }
    .member8{
        top:35%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .member7{
        top:45%;
        left:30%;
    }
    .member6{
        top:45%;
        right:30%;
    }
    .member5{
        top:60%;
        left:10%;
    }
    .member4{
        top:60%;
        left:30%;
    }
    .member3{
        top:60%;
        right:30%;
    }
    .member2{
        top:60%;
        right:10%;
    }
    .member1{
        top:80%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
